<!DOCTYPE html>
<html>
		<head>
				<script src="{{ url_for('static', filename='index.js') }}">		// path to the js file.
				</script>
				<title>Currency Convert</title>
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		</head>
	<body>

			<div class="jumbotron">
					<h1 class="display-4">Convert Your CUrrency</h1>
			</div>

			<div class="container">
					<form class="form-inline" id="form">

							<div class="form-group">
									<input class="form-control" id="currency" autocomplete="off" autofocus placeholder="Enter Currency"
									type="text" oninput="this.value = this.value.toUpperCase()">	<!-- make input to upper case -->
							</div>
							<div class="form-group">
									<button class="btn btn-primary">Get Exchange Rate</button>
							</div>
					</form>

					<br>
					<div id="result">

					</div>
			</div>



	</body>
</html>
